main > .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.gallery > img {
    width: 20vw;
    height: auto;
    padding: 8px;
}

.gallery > img:hover {
    /* box-shadow: 20px 15px grey; */
    background-color: red;
}
