:root {
    --width-height: 45px;
}


.container {
    display: grid; 
    grid-template-columns: 0.5fr 1fr; 
    grid-template-rows: 1fr auto 0.8fr auto; 
    gap: 10px 10px; 
    grid-template-areas: 
        "cube-3d game-container"
        "choose-side game-container"
        "controler-container game-container"
        "mix-btn ."; 
    width: 100%;
    padding: 25px 0px;
    align-content: start;
    justify-items: center;
}

.game-container {
    grid-area: game-container;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      "white-side red-side yellow-side"
      "orange-side green-side blue-side";
    width: 100%;
    align-items: center;
    justify-items: center;
}

.cube-3d { grid-area: cube-3d; }

.choose-side { grid-area: choose-side; }

.mix-btn { grid-area: mix-btn; }

.controler-container {
    grid-area: controler-container;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px;
    grid-template-areas: 
        ". top-left top-right ."
        "left-top cube-control cube-control right-top"
        "left-down cube-control cube-control right-down"
        ". bottom-left bottom-right .";
    width: 50%;
    align-items: center;
    justify-items: center;
}

.cube-control {
    grid-area: cube-control;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px;
    grid-template-areas:
        "cube-control-1 cube-control-2 cube-control-3"
        "cube-control-4 cube-control-5 cube-control-6"
        "cube-control-7 cube-control-8 cube-control-9";
    width: 135px;
    height: 135px;
    align-items: center;
    justify-items: center;
}

.top-left { grid-area: top-left; }
.top-right { grid-area: top-right; }
.left-top { grid-area: left-top; }
.left-down { grid-area: left-down; }
.right-top { grid-area: right-top; }
.right-down { grid-area: right-down; }
.bottom-left { grid-area: bottom-left; }
.bottom-right { grid-area: bottom-right; }

.cube-control-1 {
    grid-area: cube-control-1;
    width: var(--width-height);
    height: var(--width-height);
    background-color: lightgray;
    border: 2px solid black;
}
.cube-control-2 {
    grid-area: cube-control-2;
    width: var(--width-height);
    height: var(--width-height);
    background-color: lightgray;
    border: 2px solid black;
}
.cube-control-3 {
    grid-area: cube-control-3;
    width: var(--width-height);
    height: var(--width-height);
    background-color: lightgray;
    border: 2px solid black;
}
.cube-control-4 {
    grid-area: cube-control-4;
    width: var(--width-height);
    height: var(--width-height);
    background-color: lightgray;
    border: 2px solid black;
}
.cube-control-5 {
    grid-area: cube-control-5;
    width: var(--width-height);
    height: var(--width-height);
    background-color: gray;
    border: 2px solid black;
}
.cube-control-6 {
    grid-area: cube-control-6;
    width: var(--width-height);
    height: var(--width-height);
    background-color: lightgray;
    border: 2px solid black;
}
.cube-control-7 {
    grid-area: cube-control-7;
    width: var(--width-height);
    height: var(--width-height);
    background-color: lightgray;
    border: 2px solid black;
}
.cube-control-8 {
    grid-area: cube-control-8;
    width: var(--width-height);
    height: var(--width-height);
    background-color: lightgray;
    border: 2px solid black;
}
.cube-control-9 {
    grid-area: cube-control-9;
    width: var(--width-height);
    height: var(--width-height);
    background-color: lightgray;
    border: 2px solid black;
}




.white-side {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "white-1 white-2 white-3"
        "white-4 white-5 white-6"
        "white-7 white-8 white-9"; 
    grid-area: white-side; 
}

.white-1 {
    grid-area: white-1;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}
.white-2 {
    grid-area: white-2;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}
.white-3 {
    grid-area: white-3;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}
.white-4 {
    grid-area: white-4;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}
.white-5 {
    grid-area: white-5;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}
.white-6 {
    grid-area: white-6;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}
.white-7 {
    grid-area: white-7;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}
.white-8 {
    grid-area: white-8;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}
.white-9 {
    grid-area: white-9;
    width: var(--width-height);
    height: var(--width-height);
    background-color: white;
    border: 2px solid black;
}


.red-side {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "red-1 red-2 red-3"
        "red-4 red-5 red-6"
        "red-7 red-8 red-9"; 
    grid-area: red-side; 
}

.red-1 {
    grid-area: red-1;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}
.red-2 {
    grid-area: red-2;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}
.red-3 {
    grid-area: red-3;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}
.red-4 {
    grid-area: red-4;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}
.red-5 {
    grid-area: red-5;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}
.red-6 {
    grid-area: red-6;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}
.red-7 {
    grid-area: red-7;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}
.red-8 {
    grid-area: red-8;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}
.red-9 {
    grid-area: red-9;
    width: var(--width-height);
    height: var(--width-height);
    background-color: red;
    border: 2px solid black;
}


.yellow-side {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "yellow-1 yellow-2 yellow-3"
    "yellow-4 yellow-5 yellow-6"
        "yellow-7 yellow-8 yellow-9"; 
        grid-area: yellow-side; 
}

.yellow-1 {
    grid-area: yellow-1;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}
.yellow-2 {
    grid-area: yellow-2;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}
.yellow-3 {
    grid-area: yellow-3;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}
.yellow-4 {
    grid-area: yellow-4;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}
.yellow-5 {
    grid-area: yellow-5;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}
.yellow-6 {
    grid-area: yellow-6;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}
.yellow-7 {
    grid-area: yellow-7;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}
.yellow-8 {
    grid-area: yellow-8;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}
.yellow-9 {
    grid-area: yellow-9;
    width: var(--width-height);
    height: var(--width-height);
    background-color: yellow;
    border: 2px solid black;
}


.orange-side {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "orange-1 orange-2 orange-3"
        "orange-4 orange-5 orange-6"
        "orange-7 orange-8 orange-9"; 
        grid-area: orange-side; 
    }
    
    .orange-1 {
        grid-area: orange-1;
        width: var(--width-height);
        height: var(--width-height);
        background-color: orangered;
        border: 2px solid black;
    }
    .orange-2 {
        grid-area: orange-2;
        width: var(--width-height);
    height: var(--width-height);
    background-color: orangered;
    border: 2px solid black;
}
.orange-3 {
    grid-area: orange-3;
    width: var(--width-height);
    height: var(--width-height);
    background-color: orangered;
    border: 2px solid black;
}
.orange-4 {
    grid-area: orange-4;
    width: var(--width-height);
    height: var(--width-height);
    background-color: orangered;
    border: 2px solid black;
}
.orange-5 {
    grid-area: orange-5;
    width: var(--width-height);
    height: var(--width-height);
    background-color: orangered;
    border: 2px solid black;
}
.orange-6 {
    grid-area: orange-6;
    width: var(--width-height);
    height: var(--width-height);
    background-color: orangered;
    border: 2px solid black;
}
.orange-7 {
    grid-area: orange-7;
    width: var(--width-height);
    height: var(--width-height);
    background-color: orangered;
    border: 2px solid black;
}
.orange-8 {
    grid-area: orange-8;
    width: var(--width-height);
    height: var(--width-height);
    background-color: orangered;
    border: 2px solid black;
}
.orange-9 {
    grid-area: orange-9;
    width: var(--width-height);
    height: var(--width-height);
    background-color: orangered;
    border: 2px solid black;
}


.green-side {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "green-1 green-2 green-3"
    "green-4 green-5 green-6"
    "green-7 green-8 green-9"; 
    grid-area: green-side; 
}

.green-1 {
    grid-area: green-1;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}
.green-2 {
    grid-area: green-2;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}
.green-3 {
    grid-area: green-3;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}
.green-4 {
    grid-area: green-4;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}
.green-5 {
    grid-area: green-5;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}
.green-6 {
    grid-area: green-6;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}
.green-7 {
    grid-area: green-7;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}
.green-8 {
    grid-area: green-8;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}
.green-9 {
    grid-area: green-9;
    width: var(--width-height);
    height: var(--width-height);
    background-color: green;
    border: 2px solid black;
}


.blue-side {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "blue-1 blue-2 blue-3"
        "blue-4 blue-5 blue-6"
        "blue-7 blue-8 blue-9"; 
        grid-area: blue-side; 
}

.blue-1 {
    grid-area: blue-1;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
.blue-2 {
    grid-area: blue-2;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
.blue-3 {
    grid-area: blue-3;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
.blue-4 {
    grid-area: blue-4;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
.blue-5 {
    grid-area: blue-5;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
.blue-6 {
    grid-area: blue-6;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
.blue-7 {
    grid-area: blue-7;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
.blue-8 {
    grid-area: blue-8;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
.blue-9 {
    grid-area: blue-9;
    width: var(--width-height);
    height: var(--width-height);
    background-color: blue;
    border: 2px solid black;
}
